/* base */

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

:root {
  --page-bg: #e9f0f5;
  --bg-color-1: MediumSeaGreen;
  --bg-color-2: MediumAquamarine;
  --text-color: #2c3e50;
  --text-color-2: MediumSeaGreen;
  --text-color-3: MediumAquamarine;
  --text-color-4: slategray;
  --text-color-5: MediumVioletRed;
  --a-color: #2c3e50;
  --a-hover-color: MediumSeaGreen;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--page-bg);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-weight: 700;
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
}

a {
  color: var(--a-color);
}

a:hover {
  color: var(--a-hover-color);
}

ul {
  margin: 2rem 0;
  padding: 0;
}

li {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-color-4);
}

/* header */

.header-container {
  position: relative;
  z-index: 10;
  width: calc(100% - 2rem);
  margin: 0 auto 2rem auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .header-container {
    width: 80%;
    height: 100vh;
  }
}

.page-header {
  margin: 1rem 0;
  padding: 0;
  color: var(--text-color-2);
}

@media only screen and (max-width: 540px) {
  .page-header {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 440px) {
  .page-header {
    font-size: 2rem;
  }
}

.header-link {
  color: var(--a-color);
}

.header-link:hover {
  color: var(--a-hover-color);
}
/* timeline */

.block {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 100px;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .block {
    width: 50%;
    margin-bottom: 200px;
  }
}

.timeline-img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .timeline-img {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 50%;
  }
}

.date-header {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1;
  color: var(--text-color-4);
}

.highlights {
  margin: 2rem 0;
}

.highlights-header {
  margin-bottom: 0.5rem;
  color: var(--text-color-2);
}

.highlights-subheader {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  color: var(--text-color-3);
}

.answer {
  display: block;
  font-size: 1.2rem;
  color: var(--text-color);
}

/* blockquote */

blockquote {
  margin: 0;
  padding: 0;
  margin-top: 3rem;
}

.quote-hr {
  width: 100px;
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--text-color-5);
}

.quote {
  margin-bottom: 0;
  font-style: italic;
  color: var(--text-color-5);
}

.end-note-spacer {
  height: 100vh;
}

.end-note {
  margin: 1rem;
}

/* progress pie chart */

.progress-pie-chart {
  --p: 0;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(var(--bg-color-1) var(--p, 0), 0, var(--bg-color-2));
}
