/* base */

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --page-bg: #f2fff2;
  --bg-color-1: #082927;
  --bg-color-2: #073330;
  --page-header-color: #e6bac7;
  --page-subheader-color: #ed3a1a;
  --page-header-a-color: #e6bac7;
  --page-header-a-hover-color: MediumVioletRed;
  --date-header-color: #ed3a1a;
  --highlights-header-color: #073330;
  --highlights-subheader-color: #1c6b66;
  --highlights-border-color: #719691;
  --li-color: #719691;
  --text-color: #073330;
  --quote-color: #2ed19b;
  --end-note-color: #719691;
  --progress-color-1: #1c6b66;
  --progress-color-2: #719691;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--page-bg);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-weight: 600;
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
}

/* header */

.header-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 2rem auto;
  background: var(--bg-color-1);
  overflow: hidden;

}

@media only screen and (min-width: 768px) {
  .header-container {
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    background: linear-gradient(90deg, var(--bg-color-1) 0, var(--bg-color-1)  50%, var(--bg-color-2) 50%, var(--bg-color-2) 100%);
  }
}

.diagonal {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left top, var(--bg-color-2) 0%, var(--bg-color-2) 50%, transparent 50%);
}

@media only screen and (min-width: 768px) {
  .diagonal {
    display: none;
  }
}

.page-header {
  margin: 2rem 2rem 0 2rem;
  padding: 0;
  font-family: 'Aleo', monospace; 
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  color: var(--page-header-color);
}

@media only screen and (min-width: 540px) {
  .page-header {
    font-size: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .page-header {
    width: 50%;
    margin-bottom: 2rem;
    font-size: 90px;
  }
}

@media only screen and (min-width: 1000px) {
  .page-header {
    font-size: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-header {
    font-size: 110px;
  }
}

.page-subheader {
  margin: 2rem;
  padding: 0;
  font-size: 20px;
  color: var(--page-subheader-color);
}

@media only screen and (min-width: 540px) {
  .page-subheader {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .page-subheader {
    width: 50%;
    margin: 2rem 2rem 2rem 4rem;
    font-size: 36px;
  }
}

@media only screen and (min-width: 1100px) {
  .page-subheader {
    font-size: 40px;
  }
}

.header-link {
  color: var(--page-header-a-color);
}

.header-link:hover {
  color: var(--page-header-a-hover-color);
}

/* timeline */

.block {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 100px;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .block {
    width: 50%;
    margin-bottom: 200px;
  }
}

.timeline-img {
  width: 100%;
  height: 0;
  padding-bottom: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.timeline-img_1 {
  background-image: url("../img/david-1.jpg");
}

@media only screen and (min-width: 768px) {
  .timeline-img {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 100vh;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .text-panel {
    margin: 0 2rem;
  }
}


.date-header {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1;
  color: var(--date-header-color);
}

@media only screen and (min-width: 768px) {
  .date-header {
    margin-top: 0;
  }
}

.highlights {
  margin: 2rem 0;
}

.highlights-header {
  margin-bottom: 0.5rem;
  font-family: 'Aleo', monospace; 
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  color: var(--highlights-header-color);
}

.highlights-subheader {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  color: var(--highlights-subheader-color);
}

.highlights ul {
  margin: 2rem 0;
  padding: 0 0 0 1rem;
  border-left: 1px solid var(--highlights-border-color);
}

.highlights li {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--li-color);
}

.answer {
  display: block;
  font-size: 1.4rem;
  text-transform: none;
  letter-spacing: normal;
  color: var(--text-color);
}

/* blockquote */

blockquote {
  margin: 0;
  padding: 0;
  margin-top: 3rem;
}

.quote {
  margin-bottom: 0;
  font-style: italic;
  color: var(--quote-color);
}

.end-note-spacer {
  height: 100vh;
}

.end-note {
  margin: 1rem;
  color: var(--end-note-color);
}

/* progress pie chart */

.progress-pie-chart {
  --p: 0;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(var(--progress-color-1) var(--p, 0), 0, var(--progress-color-2));
}